<div class="visible-xs">
  <% if host_signed_in? %>
    <div class="row form-header">
      <h3 class="col-md-offset-3 col-md-9">Manage content</h3>
    </div>
    <ul class="nav-list col-md-12" role="navigation"><%= render 'pages/nav' %></ul>
  <% end %>
</div>
  
<div class="row form-header">
  <h3 class="col-md-offset-3 col-md-9">Update account</h3>
</div>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), defaults: { input_html: { class: "form-control" }}, :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <%= f.input :email %>
  <%= f.input :password, label: "New Password", autocomplete: "off" %>
  <%= f.input :current_password %>

  <div class="form-group">
    <div class="col-md-offset-3 col-md-6">
       <%= f.input_field :subscribed, :class => "", inline_label: "Only show subscribed venues" %>
    </div>
  </div>

  <%= f.input :submit, :wrapper => :bs_submit_button do %>
    <%= f.submit "Update", :class => "btn btn-primary" %>
  <% end %>
<% end %>
<br />
<div class="col-md-offset-3">
  <p>
   <%= link_to "Close my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>
  </p>
</div>

<!--<li>
    <% # form_tag root_path do %>
    <div class="navbar-form">
      <% # text_field_tag :city, params[:city], :class => "form-control auto-width", :placeholder => "#{session[:city]}: Change City" %>
    </div>
  <% # end %>
</li>-->