<div class="row">
  <div class="event-div">
    <div class="event-title">
      <h4>
        <%= event.title %>
      </h4>
      <p>
        <%= occurrence.humanized_start_time %>
        @ <%= event.venue.name %>&emsp;
        <%= what_cost(event.cost) %>
      </p>
    </div>
    <div class="event-details">
      <p>
        <%= event.venue.address %>
      </p>
      <p>
        From <%= occurrence.start_time.strftime("%l:%M %P") %> to <%= occurrence.end_time.strftime("%l:%M %P") %>
      </p>
      <p>
        <%= auto_link(simple_format(event.details), :urls, :target => "_blank" ) %>
      </p>
    </div>
  </div>
</div>