<div class="row">
  <div class="event-div">
    <div class="event-title">
      <h4>
        <%= event.title %>
      </h4>
      <p>
        <%= occurrence.humanized_start_time %>
        @ <%= event.venue.name %>&emsp;
        <%= event.cost == 0 ? "Free" : number_to_currency(event.cost) %>
      </p>
    </div>
    <div class="event-details">
      <p>
        <%= event.venue.address %>
      </p>
      <p>
        From <%= occurrence.start_time.strftime("%l:%M %P") %> to <%= occurrence.end_time.strftime("%l:%M %P") %>
      </p>
      <p>
        <%= auto_link(event.details, :urls, :target => "_blank" ) %>
      </p>
      <ul>
        <li><%= render 'fav_li', event: event %></li>
        <li>
          <%= link_to content_tag(:span, " ", :class => "glyphicon glyphicon-share-alt"), "https://twitter.com/share", :'data-url' => event_path(event) %>
        </li>
        <li>
          <%= link_to content_tag(:span, " ", :class => "glyphicon glyphicon-flag"), feedback_path %>
        </li>
        <li><%= toggle_subscribe(event.venue, current_user) %></li>
      </ul>
    </div>
  </div>
</div>