<% @events.each do |event| %>
  <div class="row">
    <div class="event-div">
      <div class="event-title">
        <h4>
          <%= event.title %>
        </h4>
        <p>
          @ <%= event.venue %>&emsp;
          <%= event.cost == 0 ? "Free" : number_to_currency(event.cost) %>
        </p>
      </div>
      <div class="event-details">
        <p>
          <%= event.address %>
        </p>
        <p>
          From <%= event.start_time.to_s(:time) %> to <%= event.end_time.to_s(:time) %> on 
          <%= event.date.strftime("%B %e") %>
        </p>
        <p>
          <%= auto_link(event.details, :urls, :target => "_blank" ) %>
        </p>
        <ul>
          <li>
            <%= link_to event.fav ? content_tag(:span, " ", :class => "glyphicon glyphicon-heart") : content_tag(:span, " ", :class => "glyphicon glyphicon-heart-empty"), "#" %>
          </li>
          <li>
            <%= link_to content_tag(:span, " ", :class => "glyphicon glyphicon-share-alt"), "https://twitter.com/share", :'data-url' => event %>
          </li>
          <li>
            <%= mail_to "fake@ekite.ca", content_tag(:span, " ", :class => "glyphicon glyphicon-flag"), :subject => "eKite Event flagged" %>
          </li>
          <li>
            <%= link_to event.fav ? content_tag(:span, " ", :class => "glyphicon glyphicon-remove") : content_tag(:span, " ", :class => "glyphicon glyphicon-plus"), "#" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>