<% @events.each do |event| %>
  <%= render 'each_event', event: event %>
<% end %>

<% unless @tomorrow.size == 0 %>
  <div class="row red container">
    <h4>Tomorrow</h4>
  </div>
  <% @tomorrow.each do |event| %>
    <%= render 'each_event', :event => event %>
  <% end %>
<% end %>

<% unless @upcoming.size == 0 %>
  <div class="row red container">
    <h4>Later this week</h4>
  </div>
  <% @upcoming.each do |event| %>
    <%= render 'each_event', :event => event %>
  <% end %>
<% end %>

<div class="row">
  <div class="event-div">
    <div class="event-missing">
      <h4>Something missing?</h4>
      <p>
        <%= link_to "Sign up for a free account", new_user_registration_path %> to add your own events, or <%= link_to "get in touch", feedback_path %> to let me know what you'd like to see.
      </p>
    </div>
  </div>
</div>