<div class="row">
  <div class="event-div">
    <div class="event-title">
      <h4>
        <%= @event.title %>
      </h4>
      <p>
        @ <%= @event.venue.name %>&emsp;
        <%= what_cost(@event.cost) %>
      </p>
    </div>
      <p>
        <%= @event.venue.address %>
      </p>
      <p>
        From <%= @event.start_time.strftime("%l:%M %P") %> to <%= @event.end_time.strftime("%l:%M %P") %> on <%= @event.upcoming_dates %>
      </p>
      <p>
        <%= auto_link(@event.details, :urls, :target => "_blank" ) %>
      </p>
      <br/>
      <p>
        <%= link_to "Edit", edit_event_path(@event) %> | <%= link_to "Back", list_path %>
      </p>
  </div>
</div>