<div class="row">
  <div class="event-div">
    <div class="event-title">
      <h4>
        <%= link_to @event.title, event_path(@event) %>
      </h4>
      <p>
        @ <%= @event.venue.name %>&emsp;
        <%= what_cost(@event.cost) %>
      </p>
    </div>
      <p>
        <%= @event.venue.address %>
      </p>
      <p>
        From <%= @event.start_time.strftime("%l:%M %P") %> to <%= @event.end_time.strftime("%l:%M %P") %> on <%= @event.upcoming_dates %>
      </p>
      <p>
        <%= event_details_format(@event.details) %>
      </p>
  </div>
</div>