<div class="jumbotron">
	<h1>What'll you do now?</h1>
	<h1><span class="text-info">It's all here.</span></h1>
	<p class="lead">
		eKite connects you to all the things to do and places to see around you. Sign up to track your favourites and get recommendations or start browsing below.
	</p>
	<p><%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-default btn-lg" %></p>
	<h5><em>Beta version launches soon!</em></h5>
	</p>
</div>

<% unless Event.have_favs.size == 0 %>
	<div class="row">
		<div class="event-list">
			<%= link_to "Favourites", events_path(:favs => true) %><span class="badge pull-right"><%= Event.have_favs.size %></span>
		</div>
	</div>
<% end %>

<% @categories = Category.all %>
<% @categories.each do |category| %>
<div class="row">
	<%= link_to events_path(:category_id => category.id) do %>
  <div class="event-list">
  	<%= category.name %><span class="badge pull-right"><%= category.events.size %></span>
	</div>
	<% end %>
</div>
<% end %>