</div>
<%= render 'pages/landing' %>
<div class="container">
<%= render 'favs' %>

<div class="row">
	<%= link_to events_path do %>
  		<div class="category-list">
  			All Events
		</div>
	<% end %>
</div>

<% @categories.each do |category| %>
	<div class="row category-row">
		<%= link_to events_path(:category_id => category.id) do %>
	  <div class="category-list">
	  	<%= category.name %>
		</div>
		<% end %>
	</div>
<% end %>