<footer>
	<p>Conceptualized and coded by <%= link_to "Brian Holt", "http://www.brianholt.ca", :target => "_blank" %> in Victoria.</p>
	<ul>
		<li><%= link_to "About", about_path %></li>
		<li><%= link_to "Blog", blog_path %></li>
		<li><%= link_to "Connect", "http://www.twitter.com/hereNowVictoria", :target => "_blank" %></li>
		<li><%= link_to "Help", help_path %></li>
	</ul>
</footer>
<%= javascript_include_tag "application" %>