<nav class="main-nav">
	<div class="container">
	  <%= navigation_icon %>
	  <%= content_tag(:span, "beta", :class => "beta") if root_path? %> 

		<div class="main-nav-right">
		  <% if user_signed_in? %>
		   	<%= link_to content_tag(:span, " ", :class => "glyphicon glyphicon-cog lg-icon"), edit_user_registration_path %>
		  <% else %>
				<%= link_to "Login", new_user_session_path, :class => "login" %>
			<% end %>
		</div>

		<% if user_signed_in? %>
			<ul class="main-nav-list main-nav-right hidden-xs" role="navigation">
				<% if host_signed_in? %>
					<li><%= link_to "Add Event", new_event_path %></li>
					<li><%= link_to "Add Venue", new_venue_path %></li>
					<li><%= link_to "Manage Events", list_path %></li>
					<li><%= link_to "Manage Venues", venues_path %></li>
				<% end %>
		    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
		  </ul>
		<% end %>
	</div>
</nav>
<div class="menu-fade"></div>