<nav class="nav navbar navbar-fixed-top">
	<div class="container">
	  <% if root_path? %>
 			<%= link_to "eKite", root_path, :class => "navbar-brand" %>
  	<% else %>
	 	  <%= link_to content_tag(:span, " ", :class => "glyphicon glyphicon-arrow-left navbar-brand"), root_path %>
	  <% end %>

		<div class="navbar-right">
		  <% if user_signed_in? %>
		   	<%= link_to content_tag(:span, " ", :class => "glyphicon glyphicon-cog navbar-brand"), edit_user_registration_path %>
		  <% else %>
				<%= link_to "Login", new_user_session_path, :class => "navbar-brand size-14" %>
			<% end %>
		</div>

		<% if user_signed_in? %>
			<ul class="nav navbar-nav navbar-right hidden-xs" role="navigation">
				<%= render 'pages/nav' %>
		    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
		  </ul>
		<% end %>
	</div>
</nav>

<div class="blur-box"><div class="blur"></div></div>