<nav class="nav navbar navbar-fixed-top">
	<div class="container">
	  <%= navigation_icon %>

		<div class="navbar-right">
		  <% if user_signed_in? %>
		   	<%= link_to content_tag(:span, " ", :class => "glyphicon glyphicon-cog navbar-brand"), edit_user_registration_path %>
		  <% else %>
				<%= link_to "Login", new_user_session_path, :class => "navbar-brand size-14" %>
			<% end %>
		</div>

		<% if user_signed_in? %>
			<ul class="nav navbar-nav navbar-right hidden-xs right-pad" role="navigation">
				<% if host_signed_in? %>
					<li><%= link_to "Add Event", new_event_path %></li>
					<li><%= link_to "Add Venue", new_venue_path %></li>
					<li><%= link_to "Manage Events", list_path %></li>
					<li><%= link_to "Manage Venues", venues_path %></li>
				<% end %>
		    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
		  </ul>
		<% end %>
	</div>
</nav>

<div class="blur-box"><div class="blur"></div></div>