<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
	<div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <%= link_to "eKite", root_path, :class => "navbar-brand" %>
	  </div>

		

		<div class="collapse navbar-collapse navbar-ex1-collapse">

<!--			<%= form_tag events_path, :class => "navbar-form navbar-left", :method => :get do %>
			  <div class="col-lg-3 input-group input-group-sm">
			    <%= text_field_tag :searchCity, params[:searchCity], :class => "form-control auto-width", :placeholder => "Change City" %>
			    <span class="input-group-btn">
			    	<%= button_tag content_tag(:span, " ", :class => "glyphicon glyphicon-chevron-right"), :name => nil, :class => "btn btn-default" %>
			  	</span>
			  </div>
			<% end %> -->

			<ul class="nav navbar-nav pull-right">
			  <% if user_signed_in? %>
			  	<li><%= link_to "Add Event", new_event_path %></li>
			  	<li><%= link_to "Edit Events", list_path %></li>
			    <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
			    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
			  <% else %>
					<li><%= link_to "Login", new_user_session_path %></li>
			  <% end %>
			</ul>
		</div>
	</div>
</nav>