<!DOCTYPE html>
<html>
<head>
  <title>hereNow</title>
  <meta name="description" content="Browse things to do in Victoria happening now.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <link rel="apple-touch-icon" href="favicon.png" type="image/png" />
  <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-46913597-1', 'herenow.co');
	  ga('send', 'pageview');
	</script>
</head>
<body>
	<%= render 'layouts/header' %>

	<div class="container">
		<% flash.each do |name, msg| %>
	    <%= content_tag(:div, msg, class: "alert alert-#{name}") if msg.length > 0 %>
	  <% end %>

		<%= yield %>
	</div>
	
	<%= render 'layouts/footer' %>
</body>
</html>