<!DOCTYPE html>
<html>
<head>
  <title>eKite</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header' %>
	<%= form_tag events_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>
	<div class="container">

		<% flash.each do |name, msg| %>
	    <%= content_tag(:div, msg, class: "alert alert-#{name}") %>
	  <% end %>
	  
		<%= yield %>

		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
